.header {
    font-size: 175px;
    -unity-text-outline-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    -unity-text-outline-width: 5px;
    align-self: center;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/TradeWinds-Regular.ttf?fileID=12800000&guid=c9bffd6f8dfef89409654ecf79a18364&type=3#TradeWinds-Regular");
}

.button {
    width: 300px;
    height: 100px;
    font-size: 50px;
    align-self: center;
    transition-duration: 0.35s;
    background-image: url("project://database/Assets/Space_Exploration_GUI_Kit/Button_Images/Source_Image_Sprites/large/medium-yellow-large.png?fileID=2800000&guid=9561cb0a279d35c44b64069e72fdee75&type=3#medium-yellow-large");
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/TASAExplorer-VariableFont_wght.ttf?fileID=12800000&guid=3d6e82f35781b4e4f8e500fb6ffebee8&type=3#TASAExplorer-VariableFont_wght");
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    -unity-text-outline-color: rgba(0, 0, 0, 0);
}

.button:hover {
    scale: 1.1 1.1;
    background-color: rgb(255, 0, 0);
    rotate: 0;
}
