.header {
    font-size: 50px;
    -unity-text-align: upper-center;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/TASAExplorer-VariableFont_wght.ttf?fileID=12800000&guid=3d6e82f35781b4e4f8e500fb6ffebee8&type=3#TASAExplorer-VariableFont_wght");
}

.button {
    width: 200px;
    height: 60px;
    font-size: 30px;
    background-image: url("project://database/Assets/TextMesh%20Pro/Examples%20&%20Extras/Textures/Gradient%20Vertical%20(Color).jpg?fileID=2800000&guid=03d0538de6e24c0f819bfc9ce084dfa9&type=3#Gradient Vertical (Color)");
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/TASAExplorer-VariableFont_wght.ttf?fileID=12800000&guid=3d6e82f35781b4e4f8e500fb6ffebee8&type=3#TASAExplorer-VariableFont_wght");
}

.button:hover {
    scale: 1.1 1.1;
    background-color: rgb(255, 0, 0);
    rotate: 0;
}

.dropdown {
    color: rgb(255, 255, 255);
    font-size: 25px;
    background-image: url("project://database/Assets/TextMesh%20Pro/Examples%20&%20Extras/Textures/Gradient%20Diagonal%20(Color).jpg?fileID=2800000&guid=2ce5c55e85304b819a1826ecbc839aa5&type=3#Gradient Diagonal (Color)");
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/TASAExplorer-VariableFont_wght.ttf?fileID=12800000&guid=3d6e82f35781b4e4f8e500fb6ffebee8&type=3#TASAExplorer-VariableFont_wght");
}
